
  <!-- Footer -->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="display-6 navbar-text"> &copy; Copyright 2020. All rights reserved.</h6>
    </nav>
  </footer>



<!-- JAVASCRIPT SECTION -->
    <script src="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.js"></script>
    <script src="/Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.js"></script>
    <script src="/Scripts/percentage.js"></script> <!-- Andre Cruz added script -->
    <script src="/Scripts/app.js"></script>
  </body>
</html>

