<% include ../partials/header.ejs %>

<!-- MAIN CONTENT -->
<body style="background-color:#DAFED1;">
  <img src="./Assets/images/about-us.jpg" class="img-fluid" alt="Responsive image"><br><br><br>
  <h1 class="display-4" style="text-align: center;">About us!</h1><br><br>
  <div class="container">
    <p class="h5" style="text-align: justify;">Surveycone services are designed to help organizations everywhere put their curiosity to work. Every day, people around the world use Surveycone to get answers to more than 20 million questions. Together, those answers make up feedback that drives companies to grow, succeed, and innovate to solve today’s most pressing challenges.<br><br>We’re committed to building new ways for people to share their voices and opinions. That’s why we’ve combined our enterprise-grade platform with a suite of specialized market research and customer experience solutions, along with numerous business-critical integrations. All our products and solutions are designed to put the power of feedback in the hands of organizations of all sizes, including 98% of the Fortune 500. Today, we empower over 17 million active users to bring better products to market, delight their website and app users, keep customers loyal to their brand, retain their employees, and much, much more.</p><br><br><br><br><br><br>
  </div>
</body>

<% include ../partials/footer.ejs %>


