<% include ../partials/header.ejs %>

<!-- MAIN CONTENT -->
<body style="background-color:#DAFED1;"><br>
  <main class="container">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <h1 class="display-3" style="padding-top: 20px;">Please, contact us</h1><br>
          
          <form action="">
            <div class="form-group">
              <label for="nameLabel">Name</label>
              <input type="text" class="form-control" id="nameLabel" placeholder="Name">
            </div>
            
            <div class="form-group">
              <label for="exampleFormControlInput1">Email address</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            
            <div class="form-group">
              <label for="shortMessage">Message</label>
              <textarea class="form-control" id="shortMessage" rows="3" placeholder="Feel free to write us a message"></textarea>
            </div>
            
            <input type="submit" value="Submit" class="btn btn-info"><br><br><br><br><br><br><br>
          </form>
        </div>
      </div>
    </div>      
  </main> 
  </body>

<% include ../partials/footer.ejs %>
