<% include ../partials/header.ejs %>

<!-- MAIN CONTENT -->
<body style="background-color:#DAFED1;"><br>
  <main class="container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm">
          <h1 class="display-2">Hello!</h1><br>
          <h1 class="display-3">Welcome to the<br> biggest online <br> survey platform.</h1>
        </div>
        <div class="col-sm">
          <div class="jumbotron bg-dark text-white">
            <h3 class="display-4">Please enter here<br>and answer our<br>COVID-19 survey.</h3><br>
            <a href="/surveys"><input type="button" class="btn btn-success" value="Enter "></a>
          </div>
        </div><br><br><br>
      </div>
    </div>
  </main>
</body>

<% include ../partials/footer.ejs %>


